.tutorialContent {
	border: 1px solid white;
	background-color: #404040;
	margin: 5px;
	padding: 20px;
	/* position:relative; */
	color: white;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	display: flex; 
	position: fixed;
	bottom:0;
	width: 80%;
	z-index:3;
	min-height: 5%;
}

.tutorial .character img {
	width: 100px;
}

.tutorial .arrow {
	position: absolute;
}
#imgArrow{
	transform: scale(1.5)
}
.Button {
	margin: 10px;
}

#labelBtn {
	font-size: 1rem;
}
.span-btn {
	color: white;
	font-weight: 600;
	font-style: underline;
	border: 1px solid white;
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	min-width: 80px;
}
.tutorialText{
	display: flex;
	justify-content: center;
	height:100%;

}
.tutorialText span{
	font-size: .9rem;
}
.tutorialContentText{
	width: 75%;
}
.tutorial .cta {
	margin: 5px auto;
	text-align: center;
	display: flex;
	width: 12%;
	min-width: 15%;
	height: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center
}

.tutorial .cta-buttons {
	margin: 5px auto;
	text-align: center;
	display: flex;
	width: 12%;
	min-width: 15%;
	height: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center
}
@media only screen and (max-width: 900px) {
	.tutorial{
		width:80%
	}
	.tutorialContent {
		margin: 0 auto;
		bottom: 0 !important;
		width: 75%;
		padding: 5px 10px;
		height: 10%;
	}
	.tutorialText{line-height: 0.8;}
	.tutorialText span{
		font-size: .6rem;
	}
	#labelBtn{
		font-size: .7rem;
	}
	#imgArrow{
		transform: scale(1);
	}
	.tutorial .cta {min-width: 13%}
}
@media only screen and (max-width: 700px) {
	.tutorial{
		width:80%
	}
	.tutorialContent {
		bottom: 0;
		width: 90%;
		padding: 5px 10px;
		height: 12%;
	}
	.tutorialText{line-height: 0.8;}
	.tutorialText span{
		font-size: .6rem;
	}
	#labelBtn{
		font-size: .7rem;
	}
	#imgArrow{
		transform: scale(1)
	}
	.tutorial .cta {min-width: 13%}
}
