.Banner{
	position:relative;
	height:400px;
	padding:0;margin:0;
	align-items: center;
	justify-content: center;
}

.Banner .slide{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	opacity: 0;
	z-index: 1;
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
	overflow: hidden;
	display:flex;
	justify-content: center
}

.Banner .showing{
	opacity: 1;
	z-index:2;
}

.Banner .slide img{
	height:100%;
	display:block;
	margin:auto;
}