.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.general{
  background-image: url("./images/general/fondopatron.png"),radial-gradient(ellipse at center, rgba(44,44,68,1) 0%, rgba(28,19,35,1) 100%);
  /* background-color: rgba(44,44,68,1); 
  background: -moz-radial-gradient(center, ellipse cover, rgba(44,44,68,1) 0%, rgba(28,19,35,1) 100%); 
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(44,44,68,1)), color-stop(100%, rgba(28,19,35,1))); 
  background: -webkit-radial-gradient(center, ellipse cover, rgba(44,44,68,1) 0%, rgba(28,19,35,1) 100%); 
  background: -o-radial-gradient(center, ellipse cover, rgba(44,44,68,1) 0%, rgba(28,19,35,1) 100%); 
  background: -ms-radial-gradient(center, ellipse cover, rgba(44,44,68,1) 0%, rgba(28,19,35,1) 100%); 
  background: radial-gradient(ellipse at center, rgba(44,44,68,1) 0%, rgba(28,19,35,1) 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c2c44', endColorstr='#1c1323', GradientType=1 );  */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
