@import url("https://fonts.googleapis.com/css2?family=Squada+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@600&display=swap");


body {
  margin: 0;
  font-family: 'Source Serif Pro', serif, 'Squada One', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Minka-Dev stylesheet */
/* @import url('./css/libs/all.css');
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700&display=swap'); */

a{text-decoration: none}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* body, html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
} */
.de{
    border: 2px red dashed;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    color: #EAAB1C;
    font-family:'Squada One', cursive;
}
p{
    font-family: 'Source Serif Pro', serif;
    color:#FFFAF0;
}

span{
    margin: 0;
    color: #EAAB1C;
    font-family: 'Source Serif Pro', serif;
}
label{
    margin: 0;
    color: black;
    font-family: 'Source Serif Pro', serif;
    font-size: 28px
}

input::placeholder {
    color: #AB8745;
    font-size: 1.2em;
    font-family: 'Source Serif Pro', serif;
}
body {
    font-size: 100%;
    font-family: "Lato", "sans-serif";
    --purple: #3A133E;
    --purple-transparent: rgba(58, 19, 62, 0.5);
    --pink: #FF0059;
    --pink-transparent: rgba(255,0,89, 0.5);
    --yellow: #EAAB1C;
    --yellow-ligth:#F2C75C;
    --dark-yellow: #EDB800;
    --orange: #ef7b32;
    --grey: #5a5a5a;
    --light-grey:#CBBECB;
    --mid-grey:#888888;
    --dark-grey:#190F0B;
    --middle-grey:#42210B;
    --ligth-grey:#603813;
    --dark-ocher:#744A1C;
    --mid-ocher:#AB8745;
    --ligth-ocher:#D1AB69;
    --green:#62BB46;
    --blue:#2C2C44;
    --dark-blue:#1C1323;
    --white:#FFFAF0;
    color:var(--dark-grey);
}

h1 {font-size: 28px}
h2 {font-size: 24px}
h3 {font-size: 21px}
h4 {
    font-size: 1.2em;
    text-align: center;
    border-bottom: 1px solid white;
    text-transform: uppercase;
    padding-bottom: 5px
}
p {font-size: 1em}
hr{border-color:var(--grey);border-width: 0.5px}
.p-small {
    font-size: 1.5em
}

input{
    padding: 12px;
    width:100%;
}

.react-datepicker-wrapper{
    width:100%;
    cursor:pointer;
}

.hidden {
    display: none;
}

.relative{position: relative;}
.absolute{position: absolute;}
.testBox{border: 1px dotted blue;}

.shadow {
    -webkit-box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.35);
}

.text-shadow {
    text-shadow: 2px 2px 3px rgba(121, 121, 121, 0.993);
}

.small-padding {
    padding: 15px 50px;
}

.absoluteCentered{position:absolute; top:50%;left:50%;transform: translate(-50%,-50%);}
.clearfix{clear:both;}
.body{margin-top: 85px;}
.text-yellow {color: var(--yellow) !important}
.text-purple {color: var(--purple) !important}
.text-pink {color: var(--pink) !important;}
.text-white {color: #fff !important;}
.centeredText{text-align:center;}
.centeredImage{display:block;margin:auto;}
.rightText{text-align: right}
.floatRight{float:right;}
.pl10{padding-left: 10px}
.m5{margin:5px;}
.mb0{margin-bottom: 0}
.mt10{margin-top:10px;}
.mt30{margin-top:30px;}
.mr10{margin-right: 10px}
.purple {background: var(--purple) !important}
.max100{max-width: 100%}
.w100{width:100%;}
.h100{height:100%;}
.pointer{cursor:pointer;}
.block {display: block;}
.smMargin{margin:15px;}
.formBorder{
    border-bottom: 2px solid var(--purple);
    padding-bottom: 5px
}

.buttonRegresar{
   width: 100px;
   margin: 40px 20px;

}

.bordered {
    border: 1px solid var(--grey);
    border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    -webkit-border-radius: 20px;
}

.yellowBordered {
    border: 1.5px solid var(--grey);
    border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-color: var(--dark-yellow);
}

.greenBordered {
    border: 1.5px solid var(--grey);
    border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-color: var(--green);
}

.blueBordered {
    border: 1.5px solid var(--grey);
    border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-color: var(--blue);
}

.rounded10{
    border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-border-radius: 10px; 
    overflow:hidden; 
}
.rounded{
    border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    -webkit-border-radius: 20px; 
    overflow:hidden; 
}
.bigrounded{
    border-radius: 50px;
    -moz-border-radius: 50px;
    -o-border-radius: 50px;
    -webkit-border-radius: 50px; 
    overflow:hidden; 
}

.flex {
    display: flex;
}

.flex1{flex: 1;}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex-justify {
    align-items: center;
    justify-content: center;
}
.flex-evenly {
    align-items: center;
    justify-content: space-evenly;
}
.flex-wrap{
    flex-wrap: wrap;
}

.flex-justify-center{justify-content: center;}
.flex-stretch{
    align-items: stretch;
}

.flex-start{
    align-items: flex-start;
}

.flex-end{
    justify-content: flex-end;
}

.btn-pink, .btn-orange, .btn-purple, .btn-yellow {
    border-radius: 35px;
    -moz-border-radius: 35px;
    -o-border-radius: 35px;
    -webkit-border-radius: 35px;
    padding: 10px;
    font-size: 2em;
}

.btn-pink {
    border: 2px solid var(--pink);
    background: var(--pink);
    color: var(--pink);
}

.btn-purple {
    border: 2px solid var(--purple);
    background: var(--purple);
    color: var(--purple);
}

.btn-yellow {
    border: 2px solid var(--yellow);
    background: var(--yellow);
    color: var(--yellow);
}

.btn-orange {
    background: var(--orange);
    border: 2px solid var(--orange);
    color: var(--orange);
}

.bodered {
    border-radius: 20px;
    -o-border-radius: 20px;
    -ms-border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}

/* AD */

.ad {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 0 auto 100px auto;
}


/** Footer ***/

.footerPurple {
    background-color: var(--purple);
    padding: 50px 66px;
    color: white;
    align-items: flex-start;
}

.footerPurple .flogo{
    flex-basis:150px;
}
.footerPurple .fcolumn{
    flex-basis:150px;
}
.footerPurple h3{
    border-bottom: 1px solid white; text-align: center
}
.footerPurple a{
    color: white;
    text-decoration: none;
    text-align: center;
    display:block;
}

.footerGrey {
    background-color: #CBBECB;
    height: 50px;
}



.footerGrey img {
    max-height: 40px;
    margin-top: 4px;
}

.footerGrey a {
    display: inline-block;
    margin: 0 3px;
}

/* Componentes */

.btnBorderPink {
    border: 2px solid var(--pink);
    border-radius: 35px;
    -moz-border-radius: 35px;
    -o-border-radius: 35px;
    -webkit-border-radius: 35px;
    color: white;
    padding: 10px 20px;
    font-size: 1.5em;
}

.btnOrange {
    background-color: var(--orange);
    border-radius: 35px;
    -moz-border-radius: 35px;
    -o-border-radius: 35px;
    -webkit-border-radius: 35px;
    color: white;
    padding: 15px 30px;
    font-size: 1.5em;
}

.footer {
    margin-top: 60px;
    height: 200px;
    color: white;
    font-size: 2em;
}

.footer .row {
    padding: 0 !important;
    margin: 0 !important;
}

.footerList {
    padding: 0 30px;
    text-align: center;
    color: white;
}

.footerList a {
    color: white;
    display: block;
}

.logoFooter {
    margin: auto;
    display: block
}


/** FLip cards */

.flip-container {
    perspective: 1000px;
}

/* flip the pane when hovered */

.flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flip-container:hover .back {
    min-height: 325px;
}

.flip-container:hover {
    min-height: 325px;
}

.flip-container, .front, .back {
    width: 250px;
    height: 325px;
}

/* flip speed goes here */

.flipper {
    width: 250px;
    height: 325px;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
    border-radius: 30px;
    -o-border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    -webkit-box-shadow: -3px 24px 41px -24px rgba(138, 138, 138, 0.95);
    -moz-box-shadow: -3px 24px 41px -24px rgba(138, 138, 138, 0.95);
    box-shadow: -3px 24px 41px -24px rgba(138, 138, 138, 0.95);
}

/* hide back of pane during swap */

.front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.4s;
}

/* front pane, placed above back */

.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}

/* back, initially hidden pane */

.back {
    transform: rotateY(180deg);
    border-radius: 30px;
    -o-border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
}

/** END FLIP **/

#list-container .item.value .back {
    border: 2px solid var(--orange);
}

#list-container .item.sustainable .back {
    border: 2px solid var(--pink);
}

#list-container .item.market .back {
    border: 2px solid var(--yellow);
}

#list-container .item .resume-title {
    display: block;
    width: 200px;
    margin: 0 auto;
    font-size: 13px;
    text-align: center;
    padding: 2px 2px 8px 2px;
}

#list-container .item.value .back .resume-title {
    border-bottom: 2px solid var(--orange);
}

#list-container .item.sustainable .back .resume-title {
    border-bottom: 2px solid var(--pink);
}

#list-container .item.market .back .resume-title {
    border-bottom: 2px solid var(--yellow);
}

#list-container .item .back .img-item {
    opacity: .06;
    position: absolute;
    top: 0;
    left: 0;
}

#list-container .item .resume-subtitle {
    display: block;
    font-size: 10px;
    text-align: center;
    padding: 7px 0;
}

#list-container .item.value .back .resume-subtitle {
    color: var(--orange);
}

#list-container .item.sustainable .back .resume-subtitle {
    color: var(--pink);
}

#list-container .item.market .back .resume-subtitle {
    color: var(--yellow);
}

#list-container .item .item-stats {
    padding: 10px 0;
}

#list-container .item .item-stats .item-date {
    font-weight: bold;
    text-align: center;
    display: block;
    padding: 5px;
}

#list-container .item .item-stats .item-percent {
    width: 100%;
    height: 5px;
    background: #c6c1c1;
    position: relative;
}

#list-container .item .item-stats .item-percent .item-percent-total {
    position: absolute;
    left: 0;
    top: 0;
    height: 5px;
}

#list-container .item.value .item-stats .item-percent .item-percent-total {
    background: var(--orange);
}

#list-container .item.sustainable .item-stats .item-percent .item-percent-total {
    background: var(--pink);
}

#list-container .item.market .item-stats .item-percent .item-percent-total {
    background: var(--yellow);
}

#list-container .item .item-resume .icon-list {
    padding: 5px 0;
    flex-wrap: wrap;
}

#list-container .item .item-resume .icon-list .img-icon {
    width: 30px;
    margin: 0 3px;
}

#list-container .item .item-resume .icon-list .ods-total {
    font-size: 10px;
    font-style: italic;
    width: 50px;
    font-weight: bold;
}

#list-container .item .item-resume .btn-view-container {
    text-align: center;
    padding-top: 10px;
    height: 40px;
    display: block;
    margin: 0 auto;
    background: none;
    border: none;
    outline: none;
}

#list-container .item.value .item-resume .btn-view {
    color: rgb(138, 53, 0);
    background: var(--orange);
    border: 3px solid rgb(138, 53, 0);
}

#list-container .item.sustainable .item-resume .btn-view {
    color: rgb(129, 0, 45);
    background: var(--pink);
    border: 3px solid rgb(129, 0, 45);
}

#list-container .item.market .item-resume .btn-view {
    background: var(--yellow);
    color: rgb(131, 102, 0);
    border: 3px solid rgb(131, 102, 0);
}

#list-container .item .item-resume .btn-view {
    padding: 9px;
    border-radius: 100%;
    font-size: 24px;
    position: relative;
    cursor: pointer;
}